<script src="https://js.stripe.com/v3/"></script>
<!--<script src="https://www.paypalobjects.com/api/checkout.js"></script> -->
<div class="cart_start_container">
  <div class="top_header cart_header">
    <div class="header-left ">
      <img src="/images/layout/main_logo.png" alt="cyberCafeLogo" width="100" height="100" />
    </div>
  <div class="header-right">
    <div class="header-right-links">
      <a href="/demo/homepage" >Home</a>
      <a href="/signup" class="sign-up-link" >Sign-Up</a>
      <a href="/login" class="log-in-link">Sign-In</a>
      <a href="/demo/homepage/shop" >Shop</a>
      <a href="/demo/contact-us">Contact Us</a>
      <a href="/logout" class="logout-link">Logout</a>
      <a class="user-acount-link" href="/account"><i class="fa fa-user-circle" aria-hidden="true" title="Edit Account"></i></a>
  <a href="/cart" class="cart-link"><i class="fa fa-shopping-cart" ></i>
        <% if (req.session.cart) { %>
        <span class="badge badge-danger"><%= req.session.cart.totalQty %></span>
        <% } %>
  </a>
  </div>
</div>
<div class="cart_header_text">
  <h1>PAYMENT</h1>
</div>
</div>


<!-- <div id="paypal-button"></div> -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto text-center">
      <% if (items == 0 || items.totalQty == 0 ) { -%>

      <p class="emtycart">Sorry, you got no items in your cart</p>
      <a class="emtycart" a href="/demo/homepage/shop">Lets fix that!</a>
      <% } else { -%>
        
      <table class="table table-dark table-hover table-bordered" >
        <thead class="cartthead">
          <tr>
            <th class="carttd">Item</th>
            <th class="carttd">Quantity</th>
            <th class="carttd">Total Price</th>
          </tr>
        </thead class="cartthead">
        <tbody class="carttbody">
          <% Object.keys(items).forEach( function(item) { %>
          <tr>
            <td class="carttd"><%= items[item].product.name %></td>
            <td class="carttd">
                <%= items[item].qty %> piece
            </td>
            <td><%= items[item].product.price * items[item].qty%> €</td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } -%>
    </div>
    <div class="col-lg-4 mx-auto text-center">
      <form action="/address" method="post"  >
        <div class="form-group">
          <input type="hidden" name="address_exists" value="<%= _csrf %>">
          <label for="Add_address">Shipping Address:</label>
          <input type="text" name="Add_address" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-info">Set Address</button>
        </form>
  </div>
  <div class="col-lg-4 mx-auto text-center">
    <input type="radio" id="cash" name="gender" value="cash">
    <label for="cash">Cash</label><br>
    <input type="radio" id="credit" name="gender" value="credit_card">
    <label for="credit">Credit Card</label><br>
    <button class="btn btn-success" id="checkout-button">Checkout</button>

  </div>
</div>
</div>

<!-- Add an event handler to the checkout button -->

<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe('pk_test_51IcCKmB8QCrXCSB3nhNN2XaLL1natqhRSAL41ghmwSZAz7YNCtdq2MlSEaoYXfWhiqQHpb1brKPUl6irsl9zH6QO00U8WqMI1u');
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function() {
    // Create a new Checkout Session using the server-side endpoint you
    // created in step 3.
    fetch('/create-checkout-session', {
      method: 'POST',
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function(result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using `error.message`.
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function(error) {
      console.error('Error:', error);
    });
  });
</script>





<!-- <script>
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'ASacIfWemabfH-WLAQtGqofToAhVXtscByXX9eYp5NTIpPX9j5pFUbpvWo5fmXVkp8UBAaNozYizM8ZD',
      production: 'demo_production_client_id'
    },
    // Customize button 
    locale: 'en_US',
    style: {
      size: 'responsive',
      color: 'blue',
      shape: 'pill',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: '55.01',
            currency: 'USD'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        window.alert('Thank you for your purchase!');
      });
    }
  }, '#paypal-button');

  let layoutHeaderHome = document.querySelector('.header');
let documentFullHeight = document.documentElement.clientHeight;
window.onscroll = function () {
    scrollFunction();
};


</script> -->